<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
    <title>Add Course</title>
</head>
</body>

<header class="page-header">
    <div class="header-container">
        <div class="logo">Student Management System</div>
        <nav class="nav-links">
            <a href="/admin/viewStudents">Students</a>
            <a href="/admin/courses">Courses</a>
            <a href="/admin/addStudent">Add Student</a>
            <a href="/admin/addCourse">Add Course</a>
        </nav>
    </div>
</header>
<main>
<h2>Add Course</h2>
<form th:action="@{/admin/addCourse}" th:object="${course}" method="post">
    <div class="form-row">
        <label>Name:</label>
        <input type="text" th:field="*{name}" required>
    </div>
    <div class="form-row">
        <label>Teacher:</label>
        <input type="text" th:field="*{teacher}" required>
    </div>
    <label>Available:</label>
    <input type="checkbox" th:field="*{available}"> <br>
    <input type="submit" value="Add">
</form>
<br>

<div style="text-align: center;">
    <a th:href="@{/admin/courses}" class="back-btn">Back to All Courses</a>
</div>
</main>

<footer class="page-footer">
    <p>© 2025 Course Management System | All rights reserved</p>
</footer>

</body>
</html>